@import 'includes/fonts';
@import 'includes/variables';
@import 'pages/login';
@import 'pages/admin';
*,
*:after,
*:before{
    margin: 0;
    padding: 0;
}
body{
  font-family: 'Open Sans', sans-serif;
}
