.is-visible{
    display: block;
}
.is-hidden{
    display: none;
}
.admin{
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: $white-color;
  &>.row{
    height: 100%;
  }
  &__logo{
    text-align: center;
    padding: 21px;
    color: $gray-color--dark-dark;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 14px;
    height: 64px;
  }
  &__menu{
    background-color: $gray-color--light-lightest;
    border-right: 1px solid $gray-color--light-light;
    height: 100%;
    ul{
      margin: 0;
      a{
        text-decoration: none;
      }
      li{
        color: $gray-color--dark-light;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 0.5px;
        font-size: 11px;
        padding: 24px 20px;
        @include transition(all 200ms);
        &:after{
          content: '';
          display: table;
          clear: both;
        }
        .fas{
          font-size: 15px;
          vertical-align: middle;
          margin-right: 20px;
          float: right;
        }
        span{
          vertical-align: middle;
        }
        &.active{
          border-left: 3px solid $gray-color--dark-light;
          background-color: $gray-color--light-light;
        }
        &:hover{
          background-color: $gray-color--light-light;
          @include transition(all 200ms);
        }
      }
    }
  }

  &__bar{
    width: 100%;
    padding: 15px 0px;
    background-color: $gray-color--light-lightest;
    border-bottom: 1px solid darken($gray-color--light-lightest, 5%);
    &:after{
      content: '';
      display: table;
      clear: both;
    }
    &__status{
      float: right;
    }
    &__item{
      margin-right: 30px;
      display: inline-block;
      vertical-align: middle;
      &>.header{
        font-size: 11px;
        padding: 7px 14px;
        background-color: $primary-color;
        vertical-align: middle;
        border-radius: 3px;
        margin-right: 10px;
        color: $gray-color--dark-medium;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 0.5px;
      }
      &--logout{
        padding: 5px 10px;
        background-color: $red-color;
        border-radius: 3px;
        color: #fff;
        font-size: 12px;
        vertical-align: middle;
        cursor: pointer;
        border-bottom: 3px solid darken($red-color, 5%);
        padding-top: 7px;
        .fas{
          margin-left: 10px;
        }
        &>span{
          vertical-align: middle;
        }
        &:hover{
          background-color: lighten($red-color, 5%);
          border-bottom: 3px solid $red-color;
        }
      }
    }
  }

  &__votes{
    padding: 3% 13%;
    &__title{
      font-size: 18px;
      margin-bottom: 40px;
      color: $gray-color--dark-dark;
      background-color: $primary-color;
      display: table;
      padding: 12px 25px;
      border-radius: 3px;
      font-weight: 600;
    }
    &__item{
      width: 100%;
      padding: 30px 0px;
      background-color: $white-color;
      &:nth-child(2n){
        background-color: $gray-color--light-lightest;
      }
      &:first-of-type{
        border-radius: 3px 3px 0px 0px;
      }
      &:last-of-type{
        border-radius: 0px 0px 3px 3px;
      }
      &--header{
        background-color: $white-color;
        padding: 10px 0px;
        color: $gray-color--medium-medium;
        border-bottom: 1px solid #dee2e6;
        .admin__votes__header{
          color: $gray-color--medium-medium;
          font-weight: 400;
        }
      }
    }
    &__content{
      display: inline-block;
      width: 25%;
      padding-left: 20px;
      vertical-align: middle;
      color: $gray-color--medium-dark;
    }
    &__header{
      color: $gray-color--dark-dark;
      font-weight: 600;
    }
    &__teacher{
    }
    &__time{
    }
    &__btn-wrapper{
      text-align: right;
      padding-right: 20px;
    }
    &__btn{
      text-align: right;
      background-color: $primary-color;
      color: $gray-color--dark-dark;
      font-weight: 700;
      font-size: 11px;
      text-transform: uppercase;
      display: inline-block;
      width: auto;
      padding: 10px 15px;
      border-radius: 3px;
      border: 0px;
      outline: 0;
      cursor: pointer;
      &:hover{
        text-decoration: none;
        color: inherit;
        background-color: lighten($primary-color, 15%);
      }
      &:focus{
        outline: 0;
      }
      .fas{
        margin-left: 15px;
      }
    }
  }

  &__modal{
    .modal-content{
      padding: 30px 25px;
      border: 0;
      border-radius: 3px;
    }
    h1{
      font-size: 24px;
      color: $gray-color--dark-dark;
      margin: 0px;
    }
    &__label{
      font-size: 12px;
      font-weight: 700;
      text-transform: uppercase;
      color: $gray-color--medium-dark;
      display: block;
      margin-top: 30px;
    }
    textarea{
      border: 0;
      background-color: $gray-color--light-lightest;
      color: $gray-color--dark-dark;
      border-radius: 3px;
      padding: 5px;
      min-height: 100px;
      font-size: 14px;
      display: block;
      width: 100%;
      &:focus{
        outline: 0;
      }
    }
    &__radio{
      display: block;
      color: $gray-color--dark-medium;
      margin: 5px 0px;
      input{
        margin-right: 10px;
        border: 0px;
        background-color: $gray-color--light-light;
        display: inline-block;
        vertical-align: middle;
      }
      span{
        display: inline-block;
        vertical-align: middle;
        font-size: 14px;
      }
    }
    .admin__votes__btn{
      margin-top: 20px;
      text-align: center;
      padding: 15px 0px;
      width: 100%;
    }
  }
}
